In [1]:
!pip install pandas
!pip install numpy

Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.1-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 155.8 MB/s eta 0:00:00
Downloading numpy-2.3.1-cp312-cp312-manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 187.5 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.3.1 pandas-2.3.1 tzdata-2025.2
Requirement already satisfied: numpy in /opt/conda/lib/python3.12/site-packages (2.3.1)

In [2]:
# Pandas is a software library written for the Python programming language for data manipulation and analysis.
import pandas as pd
#NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays
import numpy as np

In [3]:
# Assuming 'df' is your loaded DataFrame
missing_percentage = df.isnull().sum() / len(df) * 100
print(missing_percentage)

NameError: name 'df' is not defined

In [4]:
import pandas as pd
import numpy as np # Make sure numpy is imported for select_dtypes with np.number

# --- Step 1: Load the dataset into the DataFrame 'df' ---
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")

# Display the first few rows to confirm it loaded
print("First 5 rows of the DataFrame:")
print(df.head())

# --- Step 2: Now you can perform operations on 'df' ---
# Calculate the percentage of missing values in each attribute
missing_percentage = df.isnull().sum() / len(df) * 100
print("\nPercentage of missing values in each column:")
print(missing_percentage)

# Identify numerical and categorical columns
numerical_cols = df.select_dtypes(include=np.number).columns.tolist()
categorical_cols = df.select_dtypes(include='object').columns.tolist()

print("\nNumerical columns:")
print(numerical_cols)
print("\nCategorical columns:")
print(categorical_cols)

First 5 rows of the DataFrame:
   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2010-06-04       Falcon 9  6104.959412   LEO  CCAFS SLC 40
1             2  2012-05-22       Falcon 9   525.000000   LEO  CCAFS SLC 40
2             3  2013-03-01       Falcon 9   677.000000   ISS  CCAFS SLC 40
3             4  2013-09-29       Falcon 9   500.000000    PO   VAFB SLC 4E
4             5  2013-12-03       Falcon 9  3170.000000   GTO  CCAFS SLC 40

       Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  \
0    None None        1     False   False  False        NaN    1.0
1    None None        1     False   False  False        NaN    1.0
2    None None        1     False   False  False        NaN    1.0
3  False Ocean        1     False   False  False        NaN    1.0
4    None None        1     False   False  False        NaN    1.0

   ReusedCount Serial   Longitude   Latitude
0            0  B0003  -80.577366  28.561857
1            0  B0005  -80.577366  28.561857
2            0  B0007  -80.577366  28.561857
3            0  B1003 -120.610829  34.632093
4            0  B1004  -80.577366  28.561857

Percentage of missing values in each column:
FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

Numerical columns:
['FlightNumber', 'PayloadMass', 'Flights', 'Block', 'ReusedCount', 'Longitude', 'Latitude']

Categorical columns:
['Date', 'BoosterVersion', 'Orbit', 'LaunchSite', 'Outcome', 'LandingPad', 'Serial']

In [5]:
# Assuming data_falcon9 DataFrame is already available from previous steps

# Calculate the number of launches on each site
launch_site_counts = data_falcon9['LaunchSite'].value_counts()

print("Number of launches on each site:")
print(launch_site_counts)

NameError: name 'data_falcon9' is not defined

In [6]:
import pandas as pd
import numpy as np
import datetime

# --- Re-create final_data (as this is where data_falcon9 originates from) ---
# Assuming 'final_data' is created through the full API data collection process.
# For demonstration purposes, let's load dataset_part_1.csv which is effectively data_falcon9
# from the previous lab's export, and serves the same purpose for this task.
# In a real scenario, 'final_data' would be the output of your Task 1's API calls.

# Load dataset_part_1.csv which contains only Falcon 9 launches (after filtering)
# This acts as the 'data_falcon9' we need for this specific task.
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")

# From the context provided, `df` already represents `data_falcon9` after all previous filtering and cleaning.
# So we can just use `df` directly, or rename it for clarity.
data_falcon9 = df

print("First 5 rows of the `data_falcon9` (which is loaded as `df`):")
print(data_falcon9.head())

print("\nPercentage of missing values in `data_falcon9` (as loaded from CSV):")
print(data_falcon9.isnull().sum() / len(data_falcon9) * 100)

print("\nNumerical columns of `data_falcon9`:")
print(data_falcon9.select_dtypes(include=np.number).columns.tolist())

print("\nCategorical columns of `data_falcon9`:")
print(data_falcon9.select_dtypes(include='object').columns.tolist())

# --- Calculate the number of launches on each site ---
launch_site_counts = data_falcon9['LaunchSite'].value_counts()

print("\nNumber of launches on each site:")
print(launch_site_counts)%%!

SyntaxError: invalid syntax (898748314.py, line 35)

In [7]:
import pandas as pd
import numpy as np
import datetime

# --- Re-create final_data (as this is where data_falcon9 originates from) ---
# Assuming 'final_data' is created through the full API data collection process.
# For demonstration purposes, let's load dataset_part_1.csv which is effectively data_falcon9
# from the previous lab's export, and serves the same purpose for this task.
# In a real scenario, 'final_data' would be the output of your Task 1's API calls.

# Load dataset_part_1.csv which contains only Falcon 9 launches (after filtering)
# This acts as the 'data_falcon9' we need for this specific task.
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")

# From the context provided, `df` already represents `data_falcon9` after all previous filtering and cleaning.
# So we can just use `df` directly, or rename it for clarity.
data_falcon9 = df

print("First 5 rows of the `data_falcon9` (which is loaded as `df`):")
print(data_falcon9.head())

print("\nPercentage of missing values in `data_falcon9` (as loaded from CSV):")
print(data_falcon9.isnull().sum() / len(data_falcon9) * 100)

print("\nNumerical columns of `data_falcon9`:")
print(data_falcon9.select_dtypes(include=np.number).columns.tolist())

print("\nCategorical columns of `data_falcon9`:")
print(data_falcon9.select_dtypes(include='object').columns.tolist())

# --- Calculate the number of launches on each site ---
launch_site_counts = data_falcon9['LaunchSite'].value_counts()

print("\nNumber of launches on each site:")
print(launch_site_counts)

First 5 rows of the `data_falcon9` (which is loaded as `df`):
   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2010-06-04       Falcon 9  6104.959412   LEO  CCAFS SLC 40
1             2  2012-05-22       Falcon 9   525.000000   LEO  CCAFS SLC 40
2             3  2013-03-01       Falcon 9   677.000000   ISS  CCAFS SLC 40
3             4  2013-09-29       Falcon 9   500.000000    PO   VAFB SLC 4E
4             5  2013-12-03       Falcon 9  3170.000000   GTO  CCAFS SLC 40

       Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  \
0    None None        1     False   False  False        NaN    1.0
1    None None        1     False   False  False        NaN    1.0
2    None None        1     False   False  False        NaN    1.0
3  False Ocean        1     False   False  False        NaN    1.0
4    None None        1     False   False  False        NaN    1.0

   ReusedCount Serial   Longitude   Latitude
0            0  B0003  -80.577366  28.561857
1            0  B0005  -80.577366  28.561857
2            0  B0007  -80.577366  28.561857
3            0  B1003 -120.610829  34.632093
4            0  B1004  -80.577366  28.561857

Percentage of missing values in `data_falcon9` (as loaded from CSV):
FlightNumber       0.000000
Date               0.000000
BoosterVersion     0.000000
PayloadMass        0.000000
Orbit              0.000000
LaunchSite         0.000000
Outcome            0.000000
Flights            0.000000
GridFins           0.000000
Reused             0.000000
Legs               0.000000
LandingPad        28.888889
Block              0.000000
ReusedCount        0.000000
Serial             0.000000
Longitude          0.000000
Latitude           0.000000
dtype: float64

Numerical columns of `data_falcon9`:
['FlightNumber', 'PayloadMass', 'Flights', 'Block', 'ReusedCount', 'Longitude', 'Latitude']

Categorical columns of `data_falcon9`:
['Date', 'BoosterVersion', 'Orbit', 'LaunchSite', 'Outcome', 'LandingPad', 'Serial']

Number of launches on each site:
LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

In [9]:
# Assuming data_falcon9 DataFrame is available

# Calculate the number and occurrence of each mission outcome
landing_outcomes = data_falcon9['Outcome'].value_counts()

print("Number and occurrence of each mission outcome:")
print(landing_outcomes)

Number and occurrence of each mission outcome:
Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64

In [10]:
bad_outcome = {'False Ocean', 'None None', 'False ASDS', 'False RTLS'}
good_outcome = {'True RTLS', 'True ASDS', 'True Ocean', 'None ASDS'}

In [14]:
# Define the sets of bad and good outcomes
bad_outcome = {'False Ocean', 'None None', 'False ASDS', 'False RTLS'}
good_outcome = {'True RTLS', 'True ASDS', 'True Ocean', 'None ASDS'} # Including 'None ASDS' as a successful outcome based on common interpretations in these labs

# Create the landing_class list
landing_class = []
for outcome in data_falcon9['Outcome']:
    if outcome in bad_outcome:
        landing_class.append(0) # 0 for unsuccessful landing
    elif outcome in good_outcome:
        landing_class.append(1) # 1 for successful landing
    else:
        # Handle any outcomes not explicitly in bad_outcome or good_outcome.
        # For this dataset, all outcomes should fall into one of these.
        landing_class.append(np.nan) # Append NaN for any unhandled cases to identify them

In [15]:
# Add the landing_class as a new column named 'Class' to the DataFrame
# Assuming 'df' is the DataFrame loaded from 'dataset_part_1.csv'
df['Class'] = landing_class

# Display the first 8 rows of the 'Class' column
print("First 8 rows of the 'Class' column:")
print(df[['Class']].head(8))

# Display the first 5 rows of the entire DataFrame
print("\nFirst 5 rows of the DataFrame with the new 'Class' column:")
print(df.head(5))

First 8 rows of the 'Class' column:
   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

First 5 rows of the DataFrame with the new 'Class' column:
   FlightNumber        Date BoosterVersion  PayloadMass Orbit    LaunchSite  \
0             1  2010-06-04       Falcon 9  6104.959412   LEO  CCAFS SLC 40
1             2  2012-05-22       Falcon 9   525.000000   LEO  CCAFS SLC 40
2             3  2013-03-01       Falcon 9   677.000000   ISS  CCAFS SLC 40
3             4  2013-09-29       Falcon 9   500.000000    PO   VAFB SLC 4E
4             5  2013-12-03       Falcon 9  3170.000000   GTO  CCAFS SLC 40

       Outcome  Flights  GridFins  Reused   Legs LandingPad  Block  \
0    None None        1     False   False  False        NaN    1.0
1    None None        1     False   False  False        NaN    1.0
2    None None        1     False   False  False        NaN    1.0
3  False Ocean        1     False   False  False        NaN    1.0
4    None None        1     False   False  False        NaN    1.0

   ReusedCount Serial   Longitude   Latitude  Class
0            0  B0003  -80.577366  28.561857      0
1            0  B0005  -80.577366  28.561857      0
2            0  B0007  -80.577366  28.561857      0
3            0  B1003 -120.610829  34.632093      0
4            0  B1004  -80.577366  28.561857      0

In [16]:
# Calculate the success rate (mean of the 'Class' column)
success_rate = df["Class"].mean()
print(f"\nThe overall success rate of Falcon 9 launches is: {success_rate:.2f}")

The overall success rate of Falcon 9 launches is: 0.69

In [17]:
# Export the DataFrame to a CSV file
df.to_csv("dataset_part_2.csv", index=False)
print("\nDataFrame exported to 'dataset_part_2.csv' successfully! 🎉")

DataFrame exported to 'dataset_part_2.csv' successfully! 🎉

In [18]:
# Assuming 'df' is your DataFrame containing the 'Outcome' column
# Count the occurrences of 'True ASDS'
successful_drone_ship_landings = df[df['Outcome'] == 'True ASDS'].shape[0]

print(f"The number of mission outcomes successfully landed to a drone ship is: {successful_drone_ship_landings}")

The number of mission outcomes successfully landed to a drone ship is: 41